:root {
  --primary-color: #5A29E4;
  --primary-shadow-color: #5b29e45d;
  --secondary-color: #D442C6;
  --fg-color: #1f1c24;
  --col-bg: #ffffff;
  --margin: 60px;
  --font-sans: 'DM Sans', sans-serif;
  --font-mono: 'DM Mono', monospace;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --fw-black: 900;
  font-size: 5px;
}

@media screen and (min-width: 370px) {
  :root {
    font-size: 7px;
  }
}

@media screen and (min-width: 500px) {
  :root {
    font-size: 10px;
  }
}

@media screen and (min-width: 1000px) {
  :root {
    --margin: 25vw;
  }

  .code-preview {
    display: block !important;
  }

  section#hero {
    div.content {
      width: 60% !important;
    }
  }
}
