li.sponsor-card {
/*  &[data-has-logo=true] .caption {
    display: none;
  }*/

  width: max(20%, 170px);

  &[data-tier=gold] {
    width: max(25%, 220px);
  }

  &[data-tier=platinum] {
    width: max(30%, 250px);
  }
}

.body {
  table{
    border-collapse: collapse;
    width: 100%;
  }

  table,th,td{
    border: 1px solid #1f1c24;
    padding: 3px;
  }
}

blockquote{
  border-left: 5px solid var(--primary-color);
  margin-left: 1rem;

  > p {
    padding: 10px;
  }
}

@media (max-width: 480px) {

  li.sponsor-card {
    width: calc(100%);
  }
}

@media (max-width: 400px) {

  li.sponsor-card {

    a:has(img) .caption {
      display: none;
    }
  }
}
