.sponsors_container{
  margin: 8px 0 10px 0;
}

.splide {
  height: 6rem;

  .splide__arrows {
    visibility: hidden;
  }

  .splide__track {
    height: 100%;
  }

  &:hover .splide__arrows {
    visibility: visible;
  }
}

li.sponsor-card {
  &:hover {
    opacity: 1;
  }

  > a {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    padding: 0 3px;
  }

  > a > div {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .caption{
    font-size: 2rem;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    /*  white-space:nowrap;*/
    min-width: 10rem;
    text-align: center;
    max-height: 100%;
    position: relative;
    padding: 0 0.5rem;
  }

  div + .caption {
    font-size: 1.5rem;
    text-align: left;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    position: relative;
  }
}

.tippy-box {
  background-color: var(--tip-bg);
  pointer-events: all;

  *{
    color: white;
  }

  .tippy-arrow{
    color: var(--tip-bg);
  }

  .tier {
    font-size: 0.75rem;
  }

  .description{
    word-break: break-word;
  }

  .video {
    display: flex;
    justify-content: center;
  }

  .video > iframe{
    border: none;
    border-radius: 5px;
  }

  .links {
    padding: 5px 0px;
  }

  .links a:not(:first-child):before {
    content: "|";
    padding: 0 10px 0 5px;
  }

  .caption {
    display: flex;
    align-items: center;
  }

  .sponsor-icon {
    padding-right: 3px;
  }

  .social {
    display: flex;
    justify-content: center;
    align-items: center;

    > a{
      margin: 0.4rem 1rem 0 1rem;
    }

    .icon{
      max-width: 3rem;
      max-height: 3rem;
    }
  }
}


.opacity_100 {
  opacity: 1;
}

.opacity_75 {
  opacity: 0.75;
}

.opacity_50 {
  opacity: 0.5;
}

.opacity_25 {
  opacity: 0.25;
}

.link-sponsors {
  display: inline-block;
  padding: 1rem 0;
  font-weight: bold;
  color: var(--col-fg);
}

.become_sponsor{
  > div {
    justify-content: center;
    margin: 0;
    padding: 5px;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    > a {
      display: inline-block;
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      text-align: center;
    }
  }
}
