:root {
  --primary-color: #671ddf;

  --col-black: #373747;

  --col-bg: #ffffff;
  --col-fg: var(--col-black);

  --gray-2: #edf2f6;
  --gray-3: #dbe1e6;

  --max-contrast: #000000;

  /* Shadows */
  --shadow-blue-light: 0px 10px 20px rgba(var(--col-blue-rgb), 0.6);
  --shadow-blue-dark: 0px 10px 20px rgba(var(--col-blue-rgb), 0.2);

  --shadow-blue: var(--shadow-blue-light);

  /* Delays */
  --transition-delay: 0ms;
}

body.dark {
  --primary-color: #cdcdcd;

  --col-bg: var(--col-black);
  --col-fg: #cdcdcd;

  --gray-2: #434358;
  --gray-3: #505063;

  --max-contrast: #ffffff;

  --shadow-blue: var(--shadow-blue-dark);
}
