:root {
  --col-black: #373747;
  --col-bg: #FFFFFF;
  --col-fg: var(--col-black);
  --gray-2: #edf2f6;
  --max-contrast: #000000;
  /* Shadows */
  --shadow-blue-light: 0px 10px 20px rgba(var(--col-blue-rgb), 0.6);
  --shadow-blue-dark: 0px 10px 20px rgba(var(--col-blue-rgb), 0.2);
  --shadow-blue: var(--shadow-blue-light);
}

body.dark {
  --col-bg: var(--col-black);
  --col-fg: #cdcdcd;
  --gray-2: #434358;
  --max-contrast: #ffffff;
  --shadow-blue: var(--shadow-blue-dark) ;
}

* {
  color: var(--col-fg);
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

html {
  font-size: 10px;
}

body {
  width: 200vw;
  margin: 0;
  overflow-x: hidden;
  --sidebar-width: 0px;
  background: var(--col-bg);
}
body.show-aside {
  --sidebar-width: 239px;
}
body.show-aside aside {
  transform: translateX(0) !important;
}

header {
  z-index: 100;
  background: var(--col-bg);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 5.6rem;
  padding: 0rem 2rem;
}
header button {
  background: none;
  border: none;
  margin-right: 2rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
header button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: rgba(2, 8, 20, 0.1);
  transform: scale(0.5);
  opacity: 0;
  transition: 100ms;
  cursor: pointer;
}
header button:focus {
  outline: none;
}
header button:hover::before, header button:focus::before {
  opacity: 1;
  transform: scale(1);
}
header div.left {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
header nav {
  display: none;
}
header nav a {
  transition: opacity 300ms;
  color: var(--col-fg);
  opacity: 0.5;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
  margin: 2rem;
}
header nav a:hover {
  opacity: 1;
}
header nav a.selected {
  color: var(--max-contrast);
  opacity: 1;
}

#logo {
  display: inline-block;
  max-width: 70%;
}

#logo img {
  max-width: calc(100% - 10px);
  height: auto;
  display: inline-block;
}

aside {
  position: fixed;
  left: 0;
  top: 5.6rem;
  overflow: auto;
  word-wrap: break-word;
  width: 239px;
  height: calc(100vh - 5.6rem);
  border-right: 1px solid var(--gray-2);
  padding: 3rem 2rem;
  padding-top: 1rem;
  transform: translateX(-100%);
  transition: transform 300ms;
  overflow-y: scroll;
  height: calc(100vh - 5.6rem);
}
aside details.dropdown-language {
  width: calc(100% - 2rem);
  background: var(--gray-2);
  margin: 1rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  box-sizing: margin-box;
}
aside details.dropdown-language summary {
  list-style: none;
  color: #671ddf;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
}
aside details.dropdown-language summary div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row wrap;
  color: #671ddf;
}
aside details.dropdown-language summary div img {
  margin-right: 1rem;
}
aside details.dropdown-language summary ::-webkit-details-marker {
  display: none;
}
aside details.dropdown-language div.options {
  width: 100%;
  padding-left: 2.3rem;
  box-sizing: border-box;
}
aside details.dropdown-language div.options a {
  padding: 0;
  font-size: 10px;
  color: #671ddf;
  margin-top: 10px;
}
aside h3 {
  margin-left: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}
aside a {
  color: #8998a5;
  font-size: 1.3rem;
  font-weight: 400;
  text-decoration: none;
  padding: 1rem;
  border-radius: 2px;
  display: block;
  transition: color 100ms;
}
aside a:hover {
  color: var(--max-contrast);
}
aside button {
  background: none;
  display: inline-block;
  border: none;
  margin-right: 2rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
aside button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: rgba(2, 8, 20, 0.1);
  transform: scale(0.5);
  opacity: 0;
  transition: 100ms;
  cursor: pointer;
}
aside button:focus {
  outline: none;
}
aside button:hover::before, aside button:focus::before {
  opacity: 1;
  transform: scale(1);
}

main {
  position: absolute;
  left: var(--sidebar-width);
  top: 5.6rem;
  width: calc(100vw - var(--sidebar-width));
  min-height: calc(100vh - 5.6rem);
  display: grid;
  grid-gap: 0;
  grid-template-columns: 1fr clamp(300px, calc(100vw - var(--sidebar-width)), 800px) 1fr;
  font-size: 1.6rem;
}
main div.body {
  grid-column: 2;
  padding: 2rem 4rem;
  max-width: 100%;
}
main div.body img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
main h1.title {
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: -3px;
  margin: 3rem 0;
  line-height: 0.8;
}
main p.description {
  font-size: 1.92rem;
  color: #abb2bf;
  font-weight: lighter;
}
main h1,
main h2,
main h3 {
  color: var(--max-contrast);
  font-weight: 400;
  line-height: 1;
}
main a {
  color: #1e90ff;
}
main a.next-link {
  display: block;
  padding: 10px 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  max-width: calc(50% - 20px);
}
main a.next-link span {
  display: block;
}
main a.next-link span.l {
  color: #1e90ff;
  text-decoration: underline;
}
main div.links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
}
main * {
  line-height: 1.7;
}

@media screen and (min-width: 800px) {
  body {
    --sidebar-width: 239px;
  }
  body aside {
    transform: translateX(0) !important;
    height: 100vh;
    max-height: 100vh;
    top: 0;
  }
  body header {
    display: none;
  }
  body main {
    top: 0;
  }

  nav {
    display: unset !important;
  }

  #hamburger {
    display: none;
  }
}
/* PRISM */
body main code {
  font-size: 0.8em;
  border-radius: 2px;
  color: #671ddf;
  margin: 0 2px;
  padding: 3px 5px;
  white-space: pre-wrap;
  font-family: "Fira Code", "Courier New", "Roboto Mono", Monaco, courier, monospace;
}
body main code,
body main pre {
  background-color: #f8f8f8;
  font-family: "Fira Code", "Courier New", "Roboto Mono", Monaco, courier, monospace;
}
body main pre {
  -moz-osx-font-smoothing: initial;
  -webkit-font-smoothing: initial;
  line-height: 1.2;
  margin: 1.2em 0;
  overflow: auto;
  padding: 0 1.4rem;
  position: relative;
  word-wrap: normal;
}
body .token {
  font-family: "Fira Code", "Courier New", "Roboto Mono", Monaco, courier, monospace;
}
body .token.cdata,
body .token.comment,
body .token.doctype,
body .token.prolog {
  color: #8e908c;
}
body .token.namespace {
  opacity: 0.7;
}
body .token.punctuation {
  color: #525252;
}
body .token.selector {
  color: #6679cc;
}
body .language-css .token.string,
body .style .token.string,
body .token.entity,
body .token.url,
body .token.tag,
body .token.placeholder,
body .token.variable {
  color: #2944df;
}
body .token.attr-value,
body .token.control,
body .token.directive,
body .token.unit,
body .token.string,
body .token.boolean,
body .token.number,
body .token.atrule,
body .token.regex,
body .token.statement,
body .token.builtin {
  color: #df1ddf;
}
body .token.function,
body .token.keyword,
body .token.important,
body .token.property,
body .token.attr-name,
body .token.constant {
  font-weight: 500;
  color: #671ddf;
}
body .token.deleted {
  text-decoration: line-through;
}
body .token.inserted {
  border-bottom: 1px dotted #202746;
  text-decoration: none;
}
body .token.italic {
  font-style: italic;
}
body .token.bold,
body .token.important {
  font-weight: 700;
}
body .token.entity {
  cursor: help;
}
body main pre > code {
  -moz-osx-font-smoothing: initial;
  -webkit-font-smoothing: initial;
  background-color: #f8f8f8;
  border-radius: 2px;
  color: #33333c;
  display: block;
  font-family: Roboto Mono, Monaco, courier, monospace;
  line-height: inherit;
  margin: 0 2px;
  max-width: inherit;
  overflow: inherit;
  padding: 2.2em 5px;
  white-space: inherit;
  font-size: 0.8em;
}
body main code:after,
body main code:before {
  letter-spacing: 0.05rem;
}
body code .token {
  -moz-osx-font-smoothing: initial;
  -webkit-font-smoothing: initial;
  min-height: 1.5rem;
  position: relative;
  left: auto;
}
body pre:after {
  color: #ccc;
  content: attr(data-lang);
  font-size: 0.6em;
  font-weight: 600;
  height: 15px;
  line-height: 15px;
  padding: 5px 10px 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}