:root {
  --primary-color: #5a29e4;
  --primary-shadow-color: #5b29e45d;
  --secondary-color: #d442c6;
  --fg-color: #1f1c24;
  --margin: 60px;
  --font-sans: "DM Sans", sans-serif;
  --font-mono: "DM Mono", monospace;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --fw-black: 900;
  font-size: 5px;
}

@media screen and (min-width: 370px) {
  :root {
    font-size: 7px;
  }
}

@media screen and (min-width: 500px) {
  :root {
    font-size: 10px;
  }
}

@media screen and (min-width: 1000px) {
  :root {
    --margin: 25vw;
  }
  .code-preview {
    display: block !important;
  }
  section#hero div.content {
    width: 60% !important;
  }
}

body {
  margin: 0;
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: var(--fg-color);
  font-family: var(--font-sans);
}

header {
  position: fixed;
  padding-top: 2rem;
  left: calc(var(--margin) / 2);
  width: calc(100vw - var(--margin));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #ffffffd0;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  z-index: 1;
}

header a.button {
  margin-right: 0 !important;
}

a.button {
  font-size: 1.8rem;
  font-weight: var(--fw-regular);
  text-decoration: none;
  color: var(--primary-color);
  padding: 1.35rem 4.136rem;
  -webkit-box-shadow: 0px 1rem 3rem rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1rem 3rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  margin: 1.5rem;
}

a.button.primary {
  -webkit-box-shadow: 0px 1rem 3rem var(--primary-shadow-color);
  box-shadow: 0px 1rem 3rem var(--primary-shadow-color);
  background: var(--primary-color);
  color: #fff;
}

a.button.primary:hover {
  color: #fff;
}

a.button:hover {
  -webkit-transform: scale(0.98);
  transform: scale(0.98);
  opacity: 0.9;
  color: var(--secondary-color);
}

main {
  margin-left: calc(var(--margin) / 2);
  width: calc(100vw - var(--margin));
}

section#hero {
  padding-top: 15rem;
  padding-bottom: 5rem;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

section#bronze_sponsors {
  padding-bottom: 5rem;
}

section#bronze_sponsors h2 {
  font-size: 2.8rem;
  color: var(--fg-color);
  font-weight: var(--fw-regular);
  line-height: 1.5;
}

section#hero div.content {
  width: 100%;
}

section#hero div.content h1 {
  font-size: 4.8rem;
  color: var(--fg-color);
  font-weight: var(--fw-regular);
  line-height: 1.5;
}

section#hero div.content p {
  font-size: 2.4rem;
  font-weight: var(--fw-light);
  margin-bottom: 4.8rem;
}

section#hero div.content .buttons {
  margin-left: -1.5rem;
}

.code-preview {
  font-size: 18px;
  padding: 2rem 4rem;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
  display: none;
  max-width: 343px;
  width: 100%;
  height: 157px;
}

.code-preview pre {
  display: inline;
}

.code-preview span {
  font-family: var(--font-mono);
}

.code-preview span.p {
  font-weight: var(--fw-bold);
  color: var(--primary-color);
}

.code-preview span.s {
  color: var(--secondary-color);
}

.code-preview span.i {
  font-style: italic;
}

footer {
  width: 100vw;
  padding: 40px calc(var(--margin) / 2);
  background: #f2edf5;
  color: #000;
  font-weight: 300;
  font-size: 13.5px;
}

footer table {
  width: 100%;
  margin-bottom: 40px;
}

footer table td,
footer table th {
  text-align: left;
}

footer .row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

html[dir="rtl"] main {
  margin-right: calc(var(--margin) / 2);
  margin-left: unset;
}

html[dir="rtl"] .code-preview {
  direction: ltr;
}

html[dir="rtl"] header a.button {
  margin-left: 0 !important;
}

html[dir="rtl"] footer table td,
html[dir="rtl"] footer table th {
  text-align: unset;
}
